/*
COLORS:
Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485
*/

/* =====================================
            GLOBAL STYLES
   ===================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}

/* =====================================
            HEADER STYLES
   ===================================== */

.header {
  height: 95vh;
  background-image: linear-gradient(
      to left bottom,
      rgba(126, 213, 111, 0.7),
      rgba(40, 180, 133, 0.7)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.logo_box,
.text_box {
  position: absolute;
}

.logo_box {
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text_box {
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading_primary {
  color: #fff;
  text-transform: uppercase;
}

.heading_primary_main,
.heading_primary_sub {
  display: block;
}

.heading_primary_main {
  letter-spacing: 25px;
  font-size: 60px;
  font-weight: 400;
  animation-name: moveInLeft;
  animation-duration: 3s;
}

.heading_primary_sub {
  letter-spacing: 15px;
  font-size: 24px;
  font-weight: 700;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
