.header {
  height: 95vh;
  background-image: linear-gradient(
      to left bottom,
      rgba($color-primary-light, 0.7),
      rgba($color-primary-dark, 0.7)
    ),
    url(../images/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  &__text-box {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__logo-box {
    top: 4rem;
    left: 4rem;
  }

  &__text-box,
  &__logo-box {
    position: absolute;
  }

  &__logo {
    height: 3.5rem;
  }
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  margin-bottom: 3.2rem;
  text-transform: uppercase;

  &--main {
    letter-spacing: 2.5rem;
    font-size: 6rem;
    font-weight: 400;
    animation: moveInLeft 1s ease-in;
  }

  &--sub {
    letter-spacing: 1.5rem;
    font-size: 2.4rem;
    font-weight: 700;
    animation: moveInRight 1s ease-in;
  }

  &--main,
  &--sub {
    display: block;
  }
}
